body {
  section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
  }
  h1,
  h2 {
    color: #000000;
  }
  pre {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }
  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
